<h1>Update your Shipwire Credentials</h1>

<form action="/fulfillment_service" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="text" name="username" value="<%=@username%>" placeholder="username">
  <input type="password" name="password" value="password" placeholder="password">
  <input type="submit" value="Save" />
</form>
