<h1>Please Enter your Shipwire Credentials</h1>

<form action="/fulfillment_service" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Save" />
</form>
