<h1>Install This App</h1>
<h1><small>This app requires you to login to start using it.</small></h1>

<form action="/login" method="post">
  <input type="url" name="shop" placeholder="Shop URL">
  <input type="submit" value="Install App" />
</form>
